<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
     <context:property-placeholder location="classpath:sport-info.properties"/> 
    <bean id="coach1"  class="com.nirsb.legacy.BaseBallCoach"></bean>
    <bean id="coach2"  class="com.nirsb.legacy.CricketCoach"></bean>
    <bean id="injection"  class="com.nirsb.legacy.constructor.InjectionThroughConstructor">
    	<constructor-arg ref="fortuneService"/>
    </bean>
    <bean id="fortuneService"  class="com.nirsb.legacy.constructor.HappyFortuneService"></bean>
    <!-- should not configure when default constructor is not available in class
    <bean id="injection1"  class="com.nirsb.legacy.constructor.InjectionThroughConstructor"></bean>
    -->
     <bean id="loadPojo" class="com.nirsb.legacy.property.LoadPojo">
     	<property name="emailId" value="${teacher.email}"/>
      	<property name="fname" value="${teacher.name}"/>
     </bean>
</beans>